[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pytelegrambotapi = "*"
numpy = "*"
requests = "*"
keras = "==2.12.0"
tensorflow = "==2.12.0"

[dev-packages]

[requires]
python_version = "3.11"
